:root {
  --padding1: 0.3em;
  --padding2: 1em;
  --padding3: 1.3em;
}

.toolbar {
  display: flex;
}

.toolbar button {
  margin: calc(var(--grid-spacing-horizontal)/2);
}

.toolbar>section {
  display: flex;
  border-right: 1px solid rgba(255,255,255,0.2);
  padding: calc(var(--grid-spacing-horizontal)/2);
  align-items: center;
  margin:0;
}

ul.nobullets li {
  list-style: none;
}

label,
fieldset legend {
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
}