* {
	box-sizing: border-box;
	margin: 0;
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
	outline: none;
}

:root {
	--user-font-scale: 1rem - 16px;
	--max-width: calc(100% - 1rem);
	--border-width: 1px;
	--border-radius: 0.25rem;
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	--form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
	--grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
	--font-weight: 400;
	--line-height: 1.5;
	--transition: 0.2s ease-in-out;
	--spacing: 1rem;
}

@media (min-width: 50em) {
	:root {
		--max-width: 46em;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--font-body);
	font-size: 1rem;
	font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	max-width: 100vw;
}

nav ul {
	list-style: none;
	padding: 0;
}

.content > section > * + * {
	margin-top: 1.25rem;
}

.content > section > :first-child {
	margin-top: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	font-weight: bold;
	line-height: 1;
}

h1,
h2 {
	max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
	margin-top: 3rem;
}

:is(h4, h5, h6):not(:first-child) {
	margin-top: 2rem;
}

h1 {
	font-size: 3.25rem;
	font-weight: 800;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1rem;
}

p {
	line-height: 1.65em;
}

.content ul {
	line-height: 1.1em;
}

p,
.content ul {
	color: var(--theme-text-light);
}

small,
.text_small {
	font-size: 0.833rem;
}

a {
	color: var(--theme-text-accent);
	font-weight: 400;
	text-underline-offset: 0.08em;
	align-items: center;
	gap: 0.5rem;
}

article > section :is(ul, ol) > * + * {
	margin-top: 0.75rem;
}

article > section nav :is(ul, ol) > * + * {
	margin-top: inherit;
}

article > section li > :is(p, pre, blockquote):not(:first-child) {
	margin-top: 1rem;
}

article > section :is(ul, ol) {
	padding-left: 1em;
}

article > section nav :is(ul, ol) {
	padding-left: inherit;
}

article > section nav {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

article > section ::marker {
	font-weight: bold;
	color: var(--theme-text-light);
}

article > section iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

a > code:not([class*='language']) {
	position: relative;
	color: var(--theme-text-accent);
	background: transparent;
	text-underline-offset: var(--padding-block);
}

a > code:not([class*='language'])::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: var(--theme-accent);
	opacity: var(--theme-accent-opacity);
	border-radius: var(--border-radius);
}

a:hover,
a:focus {
	text-decoration: underline;
}

a:focus {
	outline: 2px solid currentColor;
	outline-offset: 0.25em;
}

strong {
	font-weight: 600;
	color: inherit;
}

/* Supporting Content */
code {
	font-family: var(--font-mono);
	font-size: 0.85em;
}

code:not([class*='language']) {
	--border-radius: 3px;
	--padding-block: 0.2rem;
	--padding-inline: 0.4rem;
	color: var(--theme-code-inline-text);
	background-color: var(--theme-code-inline-bg);
	padding: var(--padding-block) var(--padding-inline);
	margin: calc(var(--padding-block) * -1) -0.125em;
	border-radius: var(--border-radius);
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08);
	word-break: break-word;
}

pre > code:not([class*='language']) {
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-radius: 0;
	color: inherit;
}

pre > code {
	font-size: 1em;
}

table,
pre {
	position: relative;
	--padding-block: 1rem;
	--padding-inline: 2rem;
	padding: var(--padding-block) var(--padding-inline);
	padding-right: calc(var(--padding-inline) * 2);
	margin-left: calc(var(--padding-inline) * -1);
	margin-right: calc(var(--padding-inline) * -1);
	font-family: var(--font-mono);

	line-height: 1.5;
	font-size: 0.85em;
	overflow-y: hidden;
	overflow-x: auto;
}

table {
	width: 100%;
	padding: var(--padding-block) 0;
	margin: 0;
	border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: var(--theme-bg-hover);
}
th {
	background: var(--color-black);
	color: var(--theme-color);
	font-weight: bold;
}
td,
th {
	padding: 6px;
	text-align: left;
}

pre {
	background-color: var(--theme-code-bg);
	color: var(--theme-code-text);
}

blockquote code:not([class*='language']) {
	background-color: var(--theme-bg);
}

@media (min-width: 37.75em) {
	pre {
		--padding-inline: 1.25rem;
		border-radius: 8px;
		margin-left: 0;
		margin-right: 0;
	}
}

blockquote {
	margin: 2rem 0;
	padding: 1.25em 1.5rem;
	border-left: 3px solid var(--theme-text-light);
	background-color: var(--theme-bg-offset);
	border-radius: 0 0.25rem 0.25rem 0;
	line-height: 1.7;
}

img {
	max-width: 100%;
}

.flex {
	display: flex;
	align-items: center;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid var(--muted-border-color);
}

h2.heading {
	font-size: 1rem;
	font-weight: 700;
	padding: 0.1rem 1rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.header-link {
	font-size: 1rem;
	padding: 0.1rem 0 0.1rem 1rem;
	border-left: 4px solid var(--theme-divider);
}

.header-link:hover,
.header-link:focus {
	border-left-color: var(--theme-accent);
	color: var(--theme-accent);
}
.header-link:focus-within {
	color: var(--theme-text-light);
	border-left-color: hsla(var(--color-gray-40), 1);
}
.header-link svg {
	opacity: 0.6;
}
.header-link:hover svg {
	opacity: 0.8;
}
.header-link a {
	display: inline-flex;
	gap: 0.5em;
	width: 100%;
	padding: 0.15em 0 0.15em 0;
}

.header-link.depth-3 {
	padding-left: 2rem;
}
.header-link.depth-4 {
	padding-left: 3rem;
}

.header-link a {
	font: inherit;
	color: inherit;
	text-decoration: none;
}

/* Screenreader Only Text */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.focus\:not-sr-only:focus,
.focus\:not-sr-only:focus-visible {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	clip: auto;
	white-space: normal;
}

:target {
	scroll-margin: calc(var(--theme-sidebar-offset, 5rem) + 2rem) 0 2rem;
}

/**
 * Button
 */
 button {
  margin: 0;
  overflow: visible;
  font-family: inherit;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
	user-select: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button {
  display: block;
  width: 100%;
  margin-bottom: var(--spacing);
}

a[role=button] {
  display: inline-block;
  text-decoration: none;
}

button,
input[type=submit],
input[type=button],
input[type=reset],
a[role=button] {
  --background-color: hsl(var(--theme-color), 35%);
  --border-color: var(--theme-accent);
  --color: var(--theme-color-inverse);
  --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;
  transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
}
button:hover, button:active, button:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:active,
input[type=reset]:focus,
a[role=button]:hover,
a[role=button]:active,
a[role=button]:focus {
  --background-color: hsl(var(--theme-color), 40%);
  --border-color: hsl(var(--theme-color), 50%);;
  --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
}
button:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
a[role=button]:focus {
  --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--outline-width) var(--primary-focus);
}

input[type=reset] {
  --background-color: var(--theme-secondary);
  --border-color: var(--theme-secondary);
  --color: var(--theme-secondary-inverse);
  cursor: pointer;
}
input[type=reset]:hover, input[type=reset]:active, input[type=reset]:focus {
  --background-color: var(--theme-secondary-hover);
  --border-color: var(--theme-secondary-hover);
}
input[type=reset]:focus {
  --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--outline-width) var(--theme-secondary-focus);
}

button[disabled],
input[type=submit][disabled],
input[type=button][disabled],
input[type=reset][disabled],
a[role=button][disabled] {
  opacity: 0.5;
  pointer-events: none;
}

/**
 * Form elements
 */
 input,
 optgroup,
 select,
 textarea {
	 margin: 0;
	 font-size: 1rem;
	 line-height: var(--line-height);
	 font-family: inherit;
	 letter-spacing: inherit;
 }
 
 input {
	 overflow: visible;
 }
 
 select {
	 text-transform: none;
 }
 
 legend {
	 max-width: 100%;
	 padding: 0;
	 color: inherit;
	 white-space: normal;
 }
 
 textarea {
	 overflow: auto;
 }
 
 [type=checkbox],
 [type=radio] {
	 padding: 0;
 }
 
 ::-webkit-inner-spin-button,
 ::-webkit-outer-spin-button {
	 height: auto;
 }
 
 [type=search] {
	 -webkit-appearance: textfield;
	 outline-offset: -2px;
 }
 
 [type=search]::-webkit-search-decoration {
	 -webkit-appearance: none;
 }
 
 ::-webkit-file-upload-button {
	 -webkit-appearance: button;
	 font: inherit;
 }
 
 ::-moz-focus-inner {
	 padding: 0;
	 border-style: none;
 }
 
 :-moz-focusring {
	 outline: none;
 }
 
 :-moz-ui-invalid {
	 box-shadow: none;
 }
 
 ::-ms-expand {
	 display: none;
 }
 
 [type=file],
 [type=range] {
	 padding: 0;
	 border-width: 0;
 }
 
 input:not([type=checkbox]):not([type=radio]):not([type=range]) {
	 height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
 }
 
 fieldset {
	 margin: 0;
	 margin-bottom: var(--spacing);
	 padding: 0;
	 border: 0;
 }
 
 label,
 fieldset legend {
	 display: block;
	 margin-bottom: calc(var(--spacing) * 0.25);
 }
 
 input:not([type=checkbox]):not([type=radio]),
 select,
 textarea {
	 width: 100%;
 }
 
 input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=file]),
 select,
 textarea {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
	 vertical-align: middle;
 }
 
 input,
 select,
 textarea {
	 --background-color: var(--form-element-background-color);
	 --border-color: var(--form-element-border-color);
	 --color: var(--form-element-color);
	 --box-shadow: none;
	 border: var(--border-width) solid var(--border-color);
	 border-radius: var(--border-radius);
	 outline: none;
	 background-color: var(--background-color);
	 box-shadow: var(--box-shadow);
	 color: var(--color);
	 font-weight: var(--font-weight);
	 transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
 }
 
 input:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([readonly]):active, input:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([readonly]):focus,
 select:active,
 select:focus,
 textarea:active,
 textarea:focus {
	 --background-color: var(--form-element-active-background-color);
 }
 
 input:not([type=submit]):not([type=button]):not([type=reset]):not([role=switch]):not([readonly]):active, input:not([type=submit]):not([type=button]):not([type=reset]):not([role=switch]):not([readonly]):focus,
 select:active,
 select:focus,
 textarea:active,
 textarea:focus {
	 --border-color: var(--form-element-active-border-color);
 }
 
 input:not([type=submit]):not([type=button]):not([type=reset]):not([type=range]):not([type=file]):not([readonly]):focus,
 select:focus,
 textarea:focus {
	 --box-shadow: 0 0 0 var(--outline-width) var(--form-element-focus-color);
 }
 
 input:not([type=submit]):not([type=button]):not([type=reset])[disabled],
 select[disabled],
 textarea[disabled] {
	 --background-color: var(--form-element-disabled-background-color);
	 --border-color: var(--form-element-disabled-border-color);
	 opacity: var(--form-element-disabled-opacity);
 }
 
 input:not([type=checkbox]):not([type=radio])[aria-invalid],
 select:not([type=checkbox]):not([type=radio])[aria-invalid],
 textarea:not([type=checkbox]):not([type=radio])[aria-invalid] {
	 padding-right: calc(var(--form-element-spacing-horizontal) + 1.5rem) !important;
	 padding-left: var(--form-element-spacing-horizontal);
	 -webkit-padding-start: var(--form-element-spacing-horizontal) !important;
	 padding-inline-start: var(--form-element-spacing-horizontal) !important;
	 -webkit-padding-end: calc(var(--form-element-spacing-horizontal) + 1.5rem) !important;
	 padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5rem) !important;
	 background-position: center right 0.75rem;
	 background-size: 1rem auto;
	 background-repeat: no-repeat;
 }
 input:not([type=checkbox]):not([type=radio])[aria-invalid=false],
 select:not([type=checkbox]):not([type=radio])[aria-invalid=false],
 textarea:not([type=checkbox]):not([type=radio])[aria-invalid=false] {
	 background-image: var(--icon-valid);
 }
 input:not([type=checkbox]):not([type=radio])[aria-invalid=true],
 select:not([type=checkbox]):not([type=radio])[aria-invalid=true],
 textarea:not([type=checkbox]):not([type=radio])[aria-invalid=true] {
	 background-image: var(--icon-invalid);
 }
 input[aria-invalid=false],
 select[aria-invalid=false],
 textarea[aria-invalid=false] {
	 --border-color: var(--form-element-valid-border-color);
 }
 input[aria-invalid=false]:active, input[aria-invalid=false]:focus,
 select[aria-invalid=false]:active,
 select[aria-invalid=false]:focus,
 textarea[aria-invalid=false]:active,
 textarea[aria-invalid=false]:focus {
	 --border-color: var(--form-element-valid-active-border-color) !important;
	 --box-shadow: 0 0 0 var(--outline-width) var(--form-element-valid-focus-color) !important;
 }
 input[aria-invalid=true],
 select[aria-invalid=true],
 textarea[aria-invalid=true] {
	 --border-color: var(--form-element-invalid-border-color);
 }
 input[aria-invalid=true]:active, input[aria-invalid=true]:focus,
 select[aria-invalid=true]:active,
 select[aria-invalid=true]:focus,
 textarea[aria-invalid=true]:active,
 textarea[aria-invalid=true]:focus {
	 --border-color: var(--form-element-invalid-active-border-color) !important;
	 --box-shadow: 0 0 0 var(--outline-width) var(--form-element-invalid-focus-color) !important;
 }
 
 [dir=rtl] input:not([type=checkbox]):not([type=radio])[aria-invalid], [dir=rtl] input:not([type=checkbox]):not([type=radio])[aria-invalid=true], [dir=rtl] input:not([type=checkbox]):not([type=radio])[aria-invalid=false],
 [dir=rtl] select:not([type=checkbox]):not([type=radio])[aria-invalid],
 [dir=rtl] select:not([type=checkbox]):not([type=radio])[aria-invalid=true],
 [dir=rtl] select:not([type=checkbox]):not([type=radio])[aria-invalid=false],
 [dir=rtl] textarea:not([type=checkbox]):not([type=radio])[aria-invalid],
 [dir=rtl] textarea:not([type=checkbox]):not([type=radio])[aria-invalid=true],
 [dir=rtl] textarea:not([type=checkbox]):not([type=radio])[aria-invalid=false] {
	 background-position: center left 0.75rem;
 }
 
 input::placeholder,
 input::-webkit-input-placeholder,
 textarea::placeholder,
 textarea::-webkit-input-placeholder,
 select:invalid {
	 color: var(--form-element-placeholder-color);
	 opacity: 1;
 }
 
 input:not([type=checkbox]):not([type=radio]),
 select,
 textarea {
	 margin-bottom: var(--spacing);
 }
 
 select::-ms-expand {
	 border: 0;
	 background-color: transparent;
 }
 select:not([multiple]):not([size]) {
	 padding-right: calc(var(--form-element-spacing-horizontal) + 1.5rem);
	 padding-left: var(--form-element-spacing-horizontal);
	 -webkit-padding-start: var(--form-element-spacing-horizontal);
	 padding-inline-start: var(--form-element-spacing-horizontal);
	 -webkit-padding-end: calc(var(--form-element-spacing-horizontal) + 1.5rem);
	 padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5rem);
	 background-image: var(--icon-chevron);
	 background-position: center right 0.75rem;
	 background-size: 1rem auto;
	 background-repeat: no-repeat;
 }
 
 [dir=rtl] select:not([multiple]):not([size]) {
	 background-position: center left 0.75rem;
 }
 
 input + small,
 select + small,
 textarea + small {
	 display: block;
	 width: 100%;
	 margin-top: calc(var(--spacing) * -0.75);
	 margin-bottom: var(--spacing);
	 color: var(--muted-color);
 }
 
 label > input, label > select, label > textarea {
	 margin-top: calc(var(--spacing) * 0.25);
 }
 
 /**
	* Form elements
	* Checkboxes & Radios
	*/
 [type=checkbox],
 [type=radio] {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 width: 1.25em;
	 height: 1.25em;
	 margin-top: -0.125em;
	 margin-right: 0.375em;
	 margin-left: 0;
	 -webkit-margin-start: 0;
	 margin-inline-start: 0;
	 -webkit-margin-end: 0.375em;
	 margin-inline-end: 0.375em;
	 border-width: var(--border-width);
	 vertical-align: middle;
	 cursor: pointer;
 }
 [type=checkbox]::-ms-check,
 [type=radio]::-ms-check {
	 display: none;
 }
 [type=checkbox]:checked, [type=checkbox]:checked:active, [type=checkbox]:checked:focus,
 [type=radio]:checked,
 [type=radio]:checked:active,
 [type=radio]:checked:focus {
	 --background-color: var(--primary);
	 --border-color: var(--primary);
	 background-image: var(--icon-checkbox);
	 background-position: center;
	 background-size: 0.75em auto;
	 background-repeat: no-repeat;
 }
 [type=checkbox] ~ label,
 [type=radio] ~ label {
	 display: inline-block;
	 margin-right: 0.375em;
	 margin-bottom: 0;
	 cursor: pointer;
 }
 
 [type=checkbox]:indeterminate {
	 --background-color: var(--primary);
	 --border-color: var(--primary);
	 background-image: var(--icon-minus);
	 background-position: center;
	 background-size: 0.75em auto;
	 background-repeat: no-repeat;
 }
 
 [type=radio] {
	 border-radius: 50%;
 }
 [type=radio]:checked, [type=radio]:checked:active, [type=radio]:checked:focus {
	 --background-color: var(--primary-inverse);
	 border-width: 0.35em;
	 background-image: none;
 }
 
 [type=checkbox][role=switch] {
	 --background-color: var(--switch-background-color);
	 --border-color: var(--switch-background-color);
	 --color: var(--switch-color);
	 width: 2.25em;
	 height: 1.25em;
	 border: var(--border-width) solid var(--border-color);
	 border-radius: 1.25em;
	 background-color: var(--background-color);
	 line-height: 1.25em;
 }
 [type=checkbox][role=switch]:focus {
	 --background-color: var(--switch-background-color);
	 --border-color: var(--switch-background-color);
 }
 [type=checkbox][role=switch]:checked {
	 --background-color: var(--switch-checked-background-color);
	 --border-color: var(--switch-checked-background-color);
 }
 [type=checkbox][role=switch]:before {
	 display: block;
	 width: calc(1.25em - (var(--border-width) * 2));
	 height: 100%;
	 border-radius: 50%;
	 background-color: var(--color);
	 content: "";
	 transition: margin 0.1s ease-in-out;
 }
 [type=checkbox][role=switch]:checked {
	 background-image: none;
 }
 [type=checkbox][role=switch]:checked::before {
	 margin-right: 0;
	 margin-left: calc(1.125em - var(--border-width));
	 -webkit-margin-start: calc(1.125em - var(--border-width));
	 margin-inline-start: calc(1.125em - var(--border-width));
	 -webkit-margin-end: 0;
	 margin-inline-end: 0;
 }
 
 [type=checkbox][aria-invalid=false],
 [type=checkbox]:checked[aria-invalid=false],
 [type=radio][aria-invalid=false],
 [type=radio]:checked[aria-invalid=false],
 [type=checkbox][role=switch][aria-invalid=false],
 [type=checkbox][role=switch]:checked[aria-invalid=false] {
	 --border-color: var(--form-element-valid-border-color);
 }
 [type=checkbox][aria-invalid=true],
 [type=checkbox]:checked[aria-invalid=true],
 [type=radio][aria-invalid=true],
 [type=radio]:checked[aria-invalid=true],
 [type=checkbox][role=switch][aria-invalid=true],
 [type=checkbox][role=switch]:checked[aria-invalid=true] {
	 --border-color: var(--form-element-invalid-border-color);
 }
 
 /**
	* Form elements
	* Alternatives input types (Not Checkboxes & Radios)
	*/
 [type=color]::-webkit-color-swatch-wrapper {
	 padding: 0;
 }
 [type=color]::-moz-focus-inner {
	 padding: 0;
 }
 [type=color]::-webkit-color-swatch {
	 border: none;
	 border-radius: calc(var(--border-radius) * 0.5);
 }
 [type=color]::-moz-color-swatch {
	 border: none;
	 border-radius: calc(var(--border-radius) * 0.5);
 }
 
 :not([dir=rtl]) [type=date],
 :not([dir=rtl]) [type=datetime-local],
 :not([dir=rtl]) [type=month],
 :not([dir=rtl]) [type=time],
 :not([dir=rtl]) [type=week] {
	 background-image: var(--icon-date);
	 background-position: center right 0.75rem;
	 background-size: 1rem auto;
	 background-repeat: no-repeat;
 }
 :not([dir=rtl]) [type=date]::-webkit-calendar-picker-indicator,
 :not([dir=rtl]) [type=datetime-local]::-webkit-calendar-picker-indicator,
 :not([dir=rtl]) [type=month]::-webkit-calendar-picker-indicator,
 :not([dir=rtl]) [type=time]::-webkit-calendar-picker-indicator,
 :not([dir=rtl]) [type=week]::-webkit-calendar-picker-indicator {
	 opacity: 0;
 }
 :not([dir=rtl]) [type=time] {
	 background-image: var(--icon-time);
 }
 
 [type=file] {
	 --color: var(--muted-color);
	 padding: calc(var(--form-element-spacing-vertical) * 0.5) 0;
	 border: none;
	 border-radius: 0;
	 background: none;
 }
 [type=file]:hover, [type=file]:active, [type=file]:focus {
	 border: none;
	 background: none;
 }
 [type=file]::-webkit-file-upload-button {
	 --background-color: var(--theme-secondary);
	 --border-color: var(--theme-secondary);
	 --color: var(--theme-secondary-inverse);
	 margin-right: calc(var(--spacing) / 2);
	 margin-left: 0;
	 -webkit-margin-start: 0;
	 margin-inline-start: 0;
	 -webkit-margin-end: calc(var(--spacing) / 2);
	 margin-inline-end: calc(var(--spacing) / 2);
	 padding: calc(var(--form-element-spacing-vertical) * 0.5) calc(var(--form-element-spacing-horizontal) * 0.5);
	 border: var(--border-width) solid var(--border-color);
	 border-radius: var(--border-radius);
	 outline: none;
	 background-color: var(--background-color);
	 box-shadow: var(--box-shadow);
	 color: var(--color);
	 font-weight: var(--font-weight);
	 font-size: 1rem;
	 line-height: var(--line-height);
	 text-align: center;
	 cursor: pointer;
	 -webkit-transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
	 transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
 }
 [type=file]::file-selector-button {
	 --background-color: var(--theme-secondary);
	 --border-color: var(--theme-secondary);
	 --color: var(--theme-secondary-inverse);
	 margin-right: calc(var(--spacing) / 2);
	 margin-left: 0;
	 -webkit-margin-start: 0;
	 margin-inline-start: 0;
	 -webkit-margin-end: calc(var(--spacing) / 2);
	 margin-inline-end: calc(var(--spacing) / 2);
	 padding: calc(var(--form-element-spacing-vertical) * 0.5) calc(var(--form-element-spacing-horizontal) * 0.5);
	 border: var(--border-width) solid var(--border-color);
	 border-radius: var(--border-radius);
	 outline: none;
	 background-color: var(--background-color);
	 box-shadow: var(--box-shadow);
	 color: var(--color);
	 font-weight: var(--font-weight);
	 font-size: 1rem;
	 line-height: var(--line-height);
	 text-align: center;
	 cursor: pointer;
	 transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
 }
 [type=file]::-webkit-file-upload-button:hover, [type=file]::-webkit-file-upload-button:active, [type=file]::-webkit-file-upload-button:focus {
	 --background-color: var(--theme-secondary-hover);
	 --border-color: var(--theme-secondary-hover);
 }
 [type=file]::file-selector-button:hover, [type=file]::file-selector-button:active, [type=file]::file-selector-button:focus {
	 --background-color: var(--theme-secondary-hover);
	 --border-color: var(--theme-secondary-hover);
 }
 [type=file]::-webkit-file-upload-button {
	 --background-color: var(--theme-secondary);
	 --border-color: var(--theme-secondary);
	 --color: var(--theme-secondary-inverse);
	 margin-right: calc(var(--spacing) / 2);
	 margin-left: 0;
	 -webkit-margin-start: 0;
	 margin-inline-start: 0;
	 -webkit-margin-end: calc(var(--spacing) / 2);
	 margin-inline-end: calc(var(--spacing) / 2);
	 padding: calc(var(--form-element-spacing-vertical) * 0.5) calc(var(--form-element-spacing-horizontal) * 0.5);
	 border: var(--border-width) solid var(--border-color);
	 border-radius: var(--border-radius);
	 outline: none;
	 background-color: var(--background-color);
	 box-shadow: var(--box-shadow);
	 color: var(--color);
	 font-weight: var(--font-weight);
	 font-size: 1rem;
	 line-height: var(--line-height);
	 text-align: center;
	 cursor: pointer;
	 -webkit-transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
	 transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
 }
 [type=file]::-webkit-file-upload-button:hover, [type=file]::-webkit-file-upload-button:active, [type=file]::-webkit-file-upload-button:focus {
	 --background-color: var(--theme-secondary-hover);
	 --border-color: var(--theme-secondary-hover);
 }
 [type=file]::-ms-browse {
	 --background-color: var(--theme-secondary);
	 --border-color: var(--theme-secondary);
	 --color: var(--theme-secondary-inverse);
	 margin-right: calc(var(--spacing) / 2);
	 margin-left: 0;
	 margin-inline-start: 0;
	 margin-inline-end: calc(var(--spacing) / 2);
	 padding: calc(var(--form-element-spacing-vertical) * 0.5) calc(var(--form-element-spacing-horizontal) * 0.5);
	 border: var(--border-width) solid var(--border-color);
	 border-radius: var(--border-radius);
	 outline: none;
	 background-color: var(--background-color);
	 box-shadow: var(--box-shadow);
	 color: var(--color);
	 font-weight: var(--font-weight);
	 font-size: 1rem;
	 line-height: var(--line-height);
	 text-align: center;
	 cursor: pointer;
	 -ms-transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
	 transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
 }
 [type=file]::-ms-browse:hover, [type=file]::-ms-browse:active, [type=file]::-ms-browse:focus {
	 --background-color: var(--theme-secondary-hover);
	 --border-color: var(--theme-secondary-hover);
 }
 
 [type=range] {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 width: 100%;
	 height: 1.25rem;
	 background: transparent;
 }
 [type=range]::-webkit-slider-runnable-track {
	 width: 100%;
	 height: 0.25rem;
	 border-radius: var(--border-radius);
	 background-color: var(--range-border-color);
	 -webkit-transition: background-color var(--transition), box-shadow var(--transition);
	 transition: background-color var(--transition), box-shadow var(--transition);
 }
 [type=range]::-moz-range-track {
	 width: 100%;
	 height: 0.25rem;
	 border-radius: var(--border-radius);
	 background-color: var(--range-border-color);
	 -moz-transition: background-color var(--transition), box-shadow var(--transition);
	 transition: background-color var(--transition), box-shadow var(--transition);
 }
 [type=range]::-ms-track {
	 width: 100%;
	 height: 0.25rem;
	 border-radius: var(--border-radius);
	 background-color: var(--range-border-color);
	 -ms-transition: background-color var(--transition), box-shadow var(--transition);
	 transition: background-color var(--transition), box-shadow var(--transition);
 }
 [type=range]::-webkit-slider-thumb {
	 -webkit-appearance: none;
	 width: 1.25rem;
	 height: 1.25rem;
	 margin-top: -0.5rem;
	 border: 2px solid var(--range-thumb-border-color);
	 border-radius: 50%;
	 background-color: var(--range-thumb-color);
	 cursor: pointer;
	 -webkit-transition: background-color var(--transition), transform var(--transition);
	 transition: background-color var(--transition), transform var(--transition);
 }
 [type=range]::-moz-range-thumb {
	 -webkit-appearance: none;
	 width: 1.25rem;
	 height: 1.25rem;
	 margin-top: -0.5rem;
	 border: 2px solid var(--range-thumb-border-color);
	 border-radius: 50%;
	 background-color: var(--range-thumb-color);
	 cursor: pointer;
	 -moz-transition: background-color var(--transition), transform var(--transition);
	 transition: background-color var(--transition), transform var(--transition);
 }
 [type=range]::-ms-thumb {
	 -webkit-appearance: none;
	 width: 1.25rem;
	 height: 1.25rem;
	 margin-top: -0.5rem;
	 border: 2px solid var(--range-thumb-border-color);
	 border-radius: 50%;
	 background-color: var(--range-thumb-color);
	 cursor: pointer;
	 -ms-transition: background-color var(--transition), transform var(--transition);
	 transition: background-color var(--transition), transform var(--transition);
 }
 [type=range]:hover, [type=range]:focus {
	 --range-border-color: var(--range-active-border-color);
	 --range-thumb-color: var(--range-thumb-hover-color);
 }
 [type=range]:active {
	 --range-thumb-color: var(--range-thumb-active-color);
 }
 [type=range]:active::-webkit-slider-thumb {
	 transform: scale(1.25);
 }
 [type=range]:active::-moz-range-thumb {
	 transform: scale(1.25);
 }
 [type=range]:active::-ms-thumb {
	 transform: scale(1.25);
 }
 
 [type=search] {
	 border-radius: 5rem;
	 padding-left: calc(var(--form-element-spacing-horizontal) + 1.75rem) !important;
	 background-image: var(--icon-search);
	 background-position: center left 1.125rem;
	 background-size: 1rem auto;
	 background-repeat: no-repeat;
 }
 [type=search]::-webkit-search-cancel-button {
	 -webkit-appearance: none;
	 display: none;
 }
 
 #menu-toggle {
	 background-color: transparent;
	border-color: transparent;;
	}