

#activity {
  opacity: 0.1;
  display: flex;
  position: fixed;
  font-size: xx-small;
  right:0;
  bottom: 0;
  background-color: darkgray;
  user-select: none;
}

#activity:hover {
  opacity: 1.0;
}

#activity>div {
  padding: 0.2em;
  border: 1px solid white;
  
}