<link rel="stylesheet" href={Astro.resolve('../../../styles/demos.css')} />
<script type="module" src={Astro.resolve('./../../../../../src/dom/GridEditor.ts')}></script>
<script type="module" src={Astro.resolve('./grid.ts')}></script>
<style>
  #spatGrid {
    --grid-color:var(--theme-divider);
    --hover-color: var(--theme-bg-hover);
  }
</style>
<div class="toolbar">
  <section>
    <label>Function:</label>
    <select id="selSpatFunction">
      <option>Square Perimeter</option>
    </select>
  </section>
</div>
<div>
  <grid-editor rows="5" cols="5" pixelSize="15" id="spatGrid" />
</div>