section {
  display: flex;
}

section>div {
  margin: 0.3em;
  padding: 0.3em;
}

.bordered {
  border:1px solid var(--muted-border-color);
}

section h2 {
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 0;
  color: var(--muted-color);
}

.svg {
  padding: 5px;
}