<link rel="stylesheet" href={Astro.resolve('../../../styles/demos.css')} />
<script type="module" src={Astro.resolve('../../components/ArcEditor.ts')}></script>
<script type="module" src={Astro.resolve('arc.ts')}></script>
<style>
</style>

<section>
  <arc-editor id="arcEditor" />
</section>
