<link rel="stylesheet" href={Astro.resolve('../../../styles/demos.css')} />
<script type="module" src={Astro.resolve('./../../../../../src/dom/ArcEditor.ts')}></script>
<script type="module" src={Astro.resolve('./arcs.ts')}></script>
<style>
</style>

<section>
  <arc-editor id="arcEditor" />
</section>
