:root {
  --dark-bg: hsl(229, 20%, 20%);
  --dark-bg-dim: hsl(231, 21%, 29%);
  --dark-fg: hsl(231, 28%, 73%);
  --dark-fgDim: hsl(231, 12%, 50%);

  --dark-yellow: hsl(39, 100%, 71%);
  --dark-purple: hsl(276, 68%, 75%);
  --dark-blue: hsl(197, 100%, 77%);
  --dark-green: hsl(68, 55%, 60%);
  
  --light-bg: hsl(0, 0%, 98%);
  --light-bg-dim: hsl(194, 16%, 94%);
  --light-fg: hsl(200, 16%, 62%);
  --light-fgDim: hsl(200, 16%, 32%);

  --light-yellow: hsl(39, 100%, 59%);
  --light-purple: hsl(256, 90%, 65%);
  --light-blue: hsl(217, 38%, 55%);
  --light-green: hsl(85, 40%, 54%);
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg: var(--dark-bg);
  --bg-dim: var(--dark-bg-dim);
  --accent: var(--dark-yellow);
  --fg: var(--dark-fg);
  --fgDim: var(--dark-fgDim);
  --bg-dim: var(--dark-bg-dim);

  --purple: var(--dark-purple);
  --green: var(--dark-green);
  --blue: var(--dark-blue);
  }
}

body.dark {
  --bg: var(--dark-bg);
  --bg-dim: var(--dark-bg-dim);
  --accent: var(--dark-yellow);
  --fg: var(--dark-fg);
  --fgDim: var(--dark-fgDim);
  --bg-dim: var(--dark-bg-dim);

  --purple: var(--dark-purple);
  --green: var(--dark-green);
  --blue: var(--dark-blue);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--light-bg);
    --bg-dim: var(--light-bg-dim);
    --accent: var(--light-yellow);
    --fg: var(--light-fg);
    --fgDim: var(--light-fgDim);

    --purple: var(--light-purple);
    --green: var(--light-green);
    --blue: var(--light-blue);
  }  
}
body.light {
  --bg: var(--light-bg);
  --bg-dim: var(--light-bg-dim);
  --accent: var(--light-yellow);
  --fg: var(--light-fg);
  --fgDim: var(--light-fgDim);

  --purple: var(--light-purple);
  --green: var(--light-green);
  --blue: var(--light-blue);
}

body.dark,body.light,body.os {
  --color-comment-tag: var(--bg-dim);
  --color-comment-tag-text: var(--fgDim);
  --color-panel-divider: var(--bg-dim);
  --color-ts: var(--purple);
  --color-ts-class: var(--blue);
  --color-ts-interface: var(--green);
  --color-text: var(--fg);
  --color-panel: var(--bg);
  --dark-color:background: var(--bg);
  --color-panel: var(--bg);
  --color-background: var(--bg);
}

h1, h2, h3 {
  color: var(--accent);
}

dl.tsd-comment-tags dt {
  text-transform: uppercase;
  border: none;
  padding: 0;
  color: var(--fg);
}

.tsd-type-parameters li {
  display: inline-block;
  margin-right: 2em;
}

.tsd-hierarchy {
  display: none;
}

.tsd-panel, .tsd-page-title {
  box-shadow:none;
}

/* Hides inheritance info */
.tsd-sources {
  display: none;
}

