.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards header {
  font-weight: 800;
}
.cards>article {
  margin: var(--size9);
  padding: var(--size5);
  background-color: var(--greyL);
  height: 10rem;
  width: 15rem;

}